dist

# The sln is in the repo root, so .vs goes here too
.vs

# traditional npm
node_modules

# yarn 2
.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
yarn-error.log
# for "zero-install" mode, commit .yarn/cache and .pnp.*
# !.yarn/cache
.pnp.*

# lerna
lerna-debug.log
