@using Decsys.Models.Emails;
@model AccountEmailModel<PasswordResetModel>

<p>Dear @Html.Raw(Model.EmailModel.Name)</p>

<p>A password reset link has been requested for your @Model.ServiceName User Account.</p>

<p>If you did not request this reset, you can ignore this email.</p>

<p>
    To continue with the reset, please
    <a href="@Html.Raw(Model.EmailModel.Link)">click here to set a new account password.</a>
</p>

<p>@(await Html.PartialAsync("_Signature", Model))</p>
