# app-data when using a local datastore
local-data/

# additional version information, usually from build process
version.txt

# non-shipped components
components/

# published (built) version of docs
wwwroot/docs/

# identityserver dev key
tempkey.*
